{% extends "layout.html" %} 
{% block body %}

<div class="col-md-6 offset-md-3">
  <div class="card card-body bg-dark text-white rounded-3 shadow-lg">
    <h1 class="h4 mb-4 text-center">Editar Tarea</h1>

    <form action="{{url_for('contacts.update', id=contact.id)}}" method="POST">
      <div class="mb-3">
        <label for="fullname" class="form-label">Escribe tu nombre completo:</label>
        <input
          type="text"
          name="fullname"
          value="{{contact.fullname}}"
          class="form-control bg-dark text-white border-0 rounded-3 shadow-sm"
          placeholder="Nombre completo"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Escribe tu correo electrónico:</label>
        <input
          type="email"
          name="email"
          value="{{contact.email}}"
          class="form-control bg-dark text-white border-0 rounded-3 shadow-sm"
          placeholder="Correo electrónico"
          required
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Escribe tu teléfono:</label>
        <input
          type="tel"
          name="phone"
          value="{{contact.phone}}"
          class="form-control bg-dark text-white border-0 rounded-3 shadow-sm"
          placeholder="Teléfono"
        />
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary py-2">Actualizar</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
